*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background-color:#1a0232 ;
  color: #fff; 
}
.container{
    margin: 12%;
    width: 90%;
    max-width: 700px;
}
.display{
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
    background: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 20px;
    border-radius: 5px;

}
.container h1{
    font-size: 45px;
    font-weight: 400;
}
.container h1 span{
    color: #c77dff;
    border-bottom: 4px solid #c77dff;
    padding-bottom: 7px;
}
.display i{
    font-size: 230%;
    color: #200038;
}
.display i:hover{
    color: #c77dff;
}
.display input{
    border: 0;
    outline: 0;
    font-size: 24px;
}
button{
   border: 0;
   outline: 0;
   background: #c77dff;
   color: #1a0232;
   font-size: 22px;
   font-weight: 490;
   display: flex;
   align-items: center;
   justify-content: space-between; 
   padding: 16px 26px;
   border-radius: 5px;
   cursor: pointer;
}
button:hover{
    background: #bfa0d7;
}